body{
	background-color:#343735;
	margin: 0px;
}
header{
	height: 65px;
	width: 100%;
	background-color: black;
	color: white;
	top: 0px;
	position: fixed;
	z-index: 1;
	box-shadow: 0px 0px 3px black;
}
#logo{
	text-decoration: none;
	cursor: ;
	filter: brightness(0.85);
	transition: 0.1s;
}
#logo:hover{
	filter: brightness(1);
}
#logo img{
	width: 43px;
	height: 43px;
	margin: 10px 5px 8px 3%;
	display: inline-block;
	transform: rotate(0.3rad);
}
#logo p{
	display: inline;
	color: rgb(24,180,117);
	font-size: 40px;
	position: relative;
	top: -18px;
	font-family: 'Dancing Script', cursive;

}
#infoBtn{
	width: 45px;
	margin: 10px 2% auto auto;
	float: right;
	display: none;
}

#leftColumn{
	width: 30%;
	height: 100%;
	position: fixed;
	top: 60px;
	color: white;
	/*background-color: #141414;*/
	/*linear-gradient: to top,#141414,rgba(20,20,20,0.1);*/
	background: linear-gradient(to top,#0F0F0F 40%,rgba(20,20,20,0.1));
	box-shadow: 1px 1px 5px black;
	z-index: 1	; 
}
#leftContent{
	
}
#picBorder{
	width: 60%;
	height: 60%;
	object-fit: fill;
}
#leftColumn img{
	width: 60%;
	height: 60%;
	position: relative;
	margin-left: 20%;
	margin-top: 10%; 
	display: block;
	/*object-fit: fill;*/
	box-shadow: 5px 5px 3px black;
	cursor: pointer;
	
}
#leftColumn img:hover{
	top: -1px;
	left: -1px;
	box-shadow: 7px 7px 7px black;
}


#name{
	text-align: center;
	margin-top: 35px;

	/*text-shadow: 2px 2px 1px black;*/
	color: white;
	font-size: 18px;
}
#name h1{
	/*opacity: 0.8;*/
	color: white;
}

/********************************************/
#name a:link{
	text-decoration: none;
	color: white;
}
#name a:visited{
	color: white;
}
#name a:hover{
	text-decoration:underline rgba(24,180,117,0.8);
	/*border-bottom: 2px solid rgba(24,180,117,0.8);*/
	color: white;
}
#name a:active{

}
/*****************************************/
#album{
	text-align: center;
	margin-top: 20px;
	text-shadow: 2px 2px 1px black;
}
#album h3{
	font-size: 20px;
	letter-spacing: 1.5px;
}
#albumInfo{
	visibility: hidden;
}
#info{
	text-align: center;
	margin-top: 20px;
}
#dot{
	margin: auto 10px auto 15px;
}
#info p{
	display: inline;
}
#rights{
	font-family: Microsoft JhengHei;
	font-size: 12px;
	display: block;
	position: relative;
	top: 130px;
	margin: auto auto auto auto;
}

#content{
	/*float: left;*/
	margin-left: 30%;
	/*margin-right: -50px;*/
	height: 100%;
	font-family: Microsoft JhengHei;

	/*width: 60%;*/
	/*background-color: gray;*/
}
#songs{
	height: 90%;
	overflow: visible;
}
#songList{
	color: white;
	margin: 10% 10% 15% 10%;
	height: 100%;
	/*font-size: 28px;*/
}
#songList li{
	margin-top: 12px;
	background-color: #101410;
	list-style: none;
	border-radius: 5px;
	padding-left:10px; 
	box-shadow: 3px 3px 7px black;

	cursor: pointer;
	position: relative;

	transition: 0.5s;
	
}
#songList li:hover{
	top: -5px;
	left: -5px;
	box-shadow: 5px 5px 7px black;
}


#songList li p{
	display: inline;
	font-size: 28px;
	vertical-align: middle;
	margin-left: 40px;
}

#songList li img{
	display: inline;
	width: 54px;
	vertical-align: middle;
}

/*************************************************/


/***************************************************/
#player{
	height: 120px;
	width:100%;
	/*background-color:#171C18;*/
	position: fixed;
	bottom: 0px;
	margin-top: 5px;
	background: linear-gradient(to top,#171C18,#1E241F 70%,#191F1A)
}
#player_control{
	color: white;
	height: 100%;
}
#player_control audio{
	height: 20px;
	width: 40%;
	position: relative;
	top: -13px;
	margin: auto auto auto 15%;

}
#Btn{
	margin:0px auto 0px 28%;
	height: 50px;
	padding-top: 18px;
}
.btns{
	margin: auto 10px;	
	cursor: pointer;
	position: relative;
	filter: drop-shadow(3px 3px 2px black);

}
.btns:hover{
	top: -1px;
	left: -1px;
	/*box-shadow: 5px 5px 7px black;*/
	filter: drop-shadow(5px 5px 4px black);
}
#playBtn{
	width: 40px;	
}
#playBtn:hover{
	filter: brightness(1.4);
}
#nextBtn{
	width: 40px;
}
#preBtn{
	width: 40px;
}

/******************彈出介紹**************************/
#intro{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	/*opacity: 0.2;*/
	display: none;
	z-index: 3;
}
#intro2{
	width: 80%;
	/*height: 63%;*/
	background-color: black;
	position: fixed;
	top: 70px;
	left: 10%;
	z-index: 4;
	border-radius: 5px;
	border: 1px solid #A8A5A7;
}
#close {
  color: rgb(24,180,117);
  float: right;
  font-size: 40px;
  font-weight: bold;
  margin: 10px 20px auto auto;
}
#close:hover,
#close:focus {
  color: rgb(24,180,117);
  text-decoration: none;
  cursor: pointer;
}
#intro2 p{
	display: block;
	width: 78%;
	color: white;
	font-size: 18px;
	margin: 45px auto 40px auto;
	line-height: 38px;
	font-family: Microsoft JhengHei;
}
#intro2 p span{
	color: rgb(24,180,117);
}
/***********************響應*************************************/
@media screen and (max-width: 900px) {
	#leftColumn{
		display: none;
		width: 100%;
	}
	#content{
		margin-left: 0px;
	}
	#player_control audio{
		width: 70%;
		margin-left: 15%;
	}
	#Btn{
		margin:auto auto; 
		display: block;
		width: 200px;
		position: relative;
		margin: 0 auto;
	}
	#songList{
		padding: 0;
		margin: 100px 7% 150px 7%;
	}
	#songList li p{
		position: relative;
		display: ;
		margin: 28px auto auto auto;
		font-size: 20px;
	}
	#infoBtn{
		display: block;
		filter: brightness(0.8);
	}
	/*#infoBtn:hover{
		filter: brightness(1);
	}*/
	#songList li:nth-child(1){
		color: gray;
	}
	#intro{
		display: block;
	}
}


